# Copyright (c) Meta, Inc. and its affiliates.
# Copyright (c) Stanford University
# torch==1.13.1 torchvision==0.14.1 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu11
numpy
pybullet
pygame
imageio
scipy
matplotlib
scikit-learn
pillow
tqdm
networkx
joblib
pathlib
# pickle5
einops
onnxruntime-gpu
onnxruntime-extensions